{% extends "events/layout.html" %}

{% block body %}
<div class="container mt-5">
  <h1 class="mb-5 mx-auto text-center">Welcome, {{ user.username }} !</h1>

  <div class="col-lg-9 mx-auto mt-3 text-center">
    <p class="lead mb-4">
      You're already part of a thriving community on Flourish! Expand your social circle by attending events, or take
      the lead and host your own, individually or with a group. You can even create or join groups to connect with
      like-minded people and share your passions.
    </p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5 pb-5">
      <a href="{% url 'all_events' %}" type="button" class="btn btn-warning btn-lg px-4 me-sm-3">Discover Events Now</a>
      <button type="button" class="btn btn-outline-warning text-dark btn-lg px-4" data-bs-toggle="modal"
        data-bs-target="#hostEventModal">Host your Event</button>
    </div>
  </div>

  <div class="row mt-5 mb-0">
    <span class="h2">Attended Events</span>
    <br>
    <!-- Nav tabs -->
    <!-- <ul class="nav nav-pills m-3 mb-0" id="pills-tab-attended-events" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" data-bs-toggle="pill" data-bs-target="#upcoming-attended-events" type="button" role="tab">Upcoming</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link btn btn-sm btn-outline-warning text-dark p-0" data-bs-toggle="pill" data-bs-target="#past-attended-events" type="button" role="tab">Past</button>
        </li>
      </ul> -->
    <div class="btn-group nav nav-pills m-3 mb-0" role="tablist">
      <button type="button" class="btn btn-outline-warning active" data-bs-toggle="pill"
        data-bs-target="#upcoming-attended-events" role="tab">Upcoming</button>
      <button type="button" class="btn btn-outline-warning" data-bs-toggle="pill" data-bs-target="#past-attended-events"
        role="tab">Past</button>
    </div>
  </div>

  <div class="tab-content mb-4" id="pills-tabContent-attended-events">
    <div class="tab-pane fade px-1 show active" id="upcoming-attended-events" role="tabpanel"
      aria-labelledby="upcoming-attended-events-tab" tabindex="0">
      <div
        class="events row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xxl-4 g-2 mt-2 justify-content-sm-center justify-content-lg-start">
        {% for event in attended_upcoming_events %}
        <a href="{% url 'event_detail' event.id %}" class="event col mb-3" role="button">
          <div class="card">
            <img src="{{ event.image }}" class="card-img-top" alt="event-image" height="160">
            <div class="card-body">
              <h4 class="card-title fs-5 text-dark">
                {{ event.title }}
              </h4>
              <p class="card-text text-secondary lh-sm my-3">Hosted by: {{ event.host }}</p>
              <p class="card-text text-secondary fw-bold mb-2">
                <span class="me-1 text-dark"><i class="bi bi-calendar2"></i></span>
                <span class="ms-1">{{ event.date }} · {{ event.time }}</span>
              </p>
              <p class="card-text text-secondary lh-sm mt-2 mb-3">
                <span class="me-1"><i class="bi bi-geo-alt"></i></span>
                <span class="ms-1">{{ event.location }}</span>
              </p>
            </div>
          </div>
        </a>
        {% empty %}
        <p class="text-secondary lh-sm my-3 text-center pb-4">No events to display.</p>
        {% endfor %}
      </div>
    </div>
    <div class="tab-pane fade px-1" id="past-attended-events" role="tabpanel" aria-labelledby="past-attended-events-tab"
      tabindex="0">
      <div
        class="events row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xxl-4 g-2 mt-2 justify-content-sm-center justify-content-lg-start">
        {% for event in attended_past_events %}
        <a href="{% url 'event_detail' event.id %}" class="event col mb-3" role="button">
          <div class="card">
            <img src="{{ event.image }}" class="card-img-top" alt="event-image" height="160">
            <div class="card-body">
              <h4 class="card-title fs-5 text-dark">
                {{ event.title }}
              </h4>
              <p class="card-text text-secondary lh-sm my-3">Hosted by: {{ event.host }}</p>
              <p class="card-text text-secondary fw-bold mb-2">
                <span class="me-1 text-dark"><i class="bi bi-calendar2"></i></span>
                <span class="ms-1">{{ event.date }} · {{ event.time }}</span>
              </p>
              <p class="card-text text-secondary lh-sm mt-2 mb-3">
                <span class="me-1"><i class="bi bi-geo-alt"></i></span>
                <span class="ms-1">{{ event.location }}</span>
              </p>
            </div>
          </div>
        </a>
        {% empty %}
        <p class="text-secondary lh-sm my-3 text-center pb-4">No events to display..............</p>
        {% endfor %}
      </div>
    </div>
  </div>


  <div class="row mt-5 mb-0">
    <span class="h2">Hosted Events</span>
    <br>
    <div class="btn-group nav nav-pills m-3 mb-0" role="tablist">
      <button type="button" class="btn btn-outline-warning active" data-bs-toggle="pill"
        data-bs-target="#upcoming-hosted-events" role="tab">Upcoming</button>
      <button type="button" class="btn btn-outline-warning" data-bs-toggle="pill" data-bs-target="#past-hosted-events"
        role="tab">Past</button>
    </div>
  </div>

  <div class="tab-content mb-4" id="pills-tabContent-hosted-events">
    <div class="tab-pane fade px-1 show active" id="upcoming-hosted-events" role="tabpanel"
      aria-labelledby="upcoming-hosted-events-tab" tabindex="0">
      <div
        class="events row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xxl-4 g-2 mt-2 justify-content-sm-center justify-content-lg-start">
        {% for event in hosted_upcoming_events %}
        <a href="{% url 'event_detail' event.id %}" class="event col mb-3" role="button">
          <div class="card">
            <img src="{{ event.image }}" class="card-img-top" alt="event-image" height="160">
            <div class="card-body">
              <h4 class="card-title fs-5 text-dark">
                {{ event.title }}
              </h4>
              <p class="card-text text-secondary lh-sm my-3">Hosted by: {{ event.host }}</p>
              <p class="card-text text-secondary fw-bold mb-2">
                <span class="me-1 text-dark"><i class="bi bi-calendar2"></i></span>
                <span class="ms-1">{{ event.date }} · {{ event.time }}</span>
              </p>
              <p class="card-text text-secondary lh-sm mt-2 mb-3">
                <span class="me-1"><i class="bi bi-geo-alt"></i></span>
                <span class="ms-1">{{ event.location }}</span>
              </p>
            </div>
          </div>
        </a>
        {% empty %}
        <p class="text-secondary lh-sm my-3 text-center pb-4">No events to display.</p>
        {% endfor %}
      </div>
    </div>
    <div class="tab-pane fade px-1" id="past-hosted-events" role="tabpanel" aria-labelledby="past-hosted-events-tab"
      tabindex="0">
      <div
        class="events row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xxl-4 g-2 mt-2 justify-content-sm-center justify-content-lg-start">
        {% for event in hosted_past_events %}
        <a href="{% url 'event_detail' event.id %}" class="event col mb-3" role="button">
          <div class="card">
            <img src="{{ event.image }}" class="card-img-top" alt="event-image" height="160">
            <div class="card-body">
              <h4 class="card-title fs-5 text-dark">
                {{ event.title }}
              </h4>
              <p class="card-text text-secondary lh-sm my-3">Hosted by: {{ event.host }}</p>
              <p class="card-text text-secondary fw-bold mb-2">
                <span class="me-1 text-dark"><i class="bi bi-calendar2"></i></span>
                <span class="ms-1">{{ event.date }} · {{ event.time }}</span>
              </p>
              <p class="card-text text-secondary lh-sm mt-2 mb-3">
                <span class="me-1"><i class="bi bi-geo-alt"></i></span>
                <span class="ms-1">{{ event.location }}</span>
              </p>
            </div>
          </div>
        </a>
        {% empty %}
        <p class="text-secondary lh-sm my-3 text-center pb-4">No events to display..............</p>
        {% endfor %}
      </div>
    </div>
  </div>

</div>
{% endblock %}