{% extends "events/layout.html" %}

{% block body %}
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 me-auto mb-3">
            {% if group.image_url %}
            <img src="{{ group.image_url }}" class="img-fluid mb-3" alt="group-image" height="160">
            {% else %}
            <img src="https://images.unsplash.com/photo-1582213782179-e0d53f98f2ca?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                class="img-fluid mb-3" alt="group-image" height="160">
            {% endif %}
            <h2>{{ group.name }}</h2>
            <p class="text-secondary">Owner: {{ group.owner }}</p>
            <div class="d-flex mb-3 text-secondary">
                <span class="me-3">
                    <span class="text-dark" title="Members"><i class="bi bi-people-fill fs-5"></i></span>
                    <span class="ms-1">{{ group.members.all|length }}</span>
                </span>
                <span class="mx-3">
                    {% if group.privacy_setting == "private" %}
                    <span class="text-dark" title="Privacy Setting"><i class="bi bi-person-lock fs-5"></i></span>
                    <span class="ms-1">Private</span>
                    {% else %}
                    <span class="text-dark" title="Privacy Setting"><i class="bi bi-globe-americas fs-5"></i></span>
                    <span class="ms-1">Public</span>
                    {% endif %}
                </span>
                <span class="mx-3">
                    <span class="text-dark" title="Created at"><i class="bi bi-calendar fs-5"></i></span>
                    <span class="ms-1">{{ group.created_at|date }}</span>
                </span>
            </div>
            <p>{{ group.description }}</p>
        </div>
        <div class="col-lg-3 mx-auto">
            {% if request.user == owner %}
            <button class="btn btn-outline-warning text-dark mb-3" data-bs-toggle="modal"
                data-bs-target="#editGroupModal">
                <span class="ms-auto"><i class="bi bi-pencil"></i></span>
                <span class="ms-1">Edit Group</span>
            </button>
            {% endif %}
            <div class="card py-3 mt-2">
                <div class="row">
                    {% if request.user == owner %}
                    <div class="col-8">
                        <span class="card-title h5 ps-3">Group Members</span>
                    </div>
                    <div class="col-4 text-end">
                        <button class="btn btn-sm btn-outline-dark me-2" data-bs-toggle="modal"
                            data-bs-target="#inviteMemberModal">
                            <span class="ms-auto"><i class="bi bi-person-plus"></i></span>
                            <span class="ms-1">Add</span>
                        </button>
                    </div>
                    {% else %}
                    <span class="card-title h5 ps-3 ms-3">Group Members</span>
                    {% endif %}
                </div>
                <hr class="mb-4">
                <div class="card-body py-1">
                    {% for member in members %}
                    <div class="row mb-3">
                        <div class="col">
                            <a href="{% url 'profile' member %}" class="card-text text-muted"><i
                                    class="bi bi-person-circle me-2"></i>{{ member }}
                                {% if member == owner %}
                                <span class="ms-2 pb-1 badge text-bg-secondary fw-normal">Owner</span>
                                {% endif %}
                            </a>
                        </div>
                        {% if member != owner and request.user == owner %}
                        <div class="col-2 ms-auto">
                            <div class="dropdpwn">
                                <span role="button" class="text-secondary" type="button" data-bs-toggle="dropdown">
                                    <i class="bi bi-three-dots-vertical"></i>
                                </span>
                                <ul class="dropdown-menu">
                                    <li><button class="dropdown-item hoverable delete-member"
                                            data-member-id="{{ member.id }}" onclick="deleteMemberFromGroup(event)">
                                            <i class="bi bi-trash text-danger"></i>
                                            &nbsp;Remove member
                                        </button></li>
                                </ul>
                            </div>
                        </div>
                        {% endif %}
                    </div>

                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container my-4">
    <div class="row mt-5 mb-0">
        <span class="h2">Group Events</span>
        <br>
        <div class="btn-group nav nav-pills m-3 mb-0" role="tablist">
            <button type="button" class="btn btn-outline-warning active" data-bs-toggle="pill"
                data-bs-target="#upcoming-hosted-events" role="tab">Upcoming</button>
            <button type="button" class="btn btn-outline-warning" data-bs-toggle="pill"
                data-bs-target="#past-hosted-events" role="tab">Past</button>
        </div>
    </div>
    <div class="tab-content mb-4" id="pills-tabContent-hosted-events">
        <div class="tab-pane fade px-1 show active" id="upcoming-hosted-events" role="tabpanel"
            aria-labelledby="upcoming-hosted-events-tab" tabindex="0">
            <div
                class="events row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xxl-4 g-2 mt-2 justify-content-sm-center justify-content-lg-start">
                {% for event in upcoming_events %}
                <a href="{% url 'event_detail' event.id %}" class="event col mb-3" role="button">
                    <div class="card">
                        {% if event.image %}
                        <img src="{{ event.image }}" class="card-img-top" alt="event-image" height="160">
                        {% else %}
                        <img src="https://images.unsplash.com/photo-1442504028989-ab58b5f29a4a?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                            class="card-img-top" alt="event-image" height="160">
                        {% endif %}
                        <div class="card-body">
                            <h4 class="card-title fs-5 text-dark">
                                {{ event.title }}
                            </h4>
                            {% if not event.group %}
                            <p class="card-text text-secondary lh-sm my-3">Hosted by: {{ event.host }}</p>
                            {% else %}
                            <p class="card-text text-secondary lh-sm my-3">Hosted by: {{ event.group }}</p>
                            {% endif %}
                            <p class="card-text text-secondary fw-bold mb-2">
                                <span class="me-1 text-dark"><i class="bi bi-calendar2"></i></span>
                                <span class="ms-1">{{ event.date }} · {{ event.time }}</span>
                            </p>
                            <p class="card-text text-secondary lh-sm mt-2 mb-3">
                                <span class="me-1"><i class="bi bi-geo-alt"></i></span>
                                <span class="ms-1">{{ event.location }}</span>
                            </p>
                        </div>
                    </div>
                </a>
                {% empty %}
                <p class="text-secondary lh-sm my-3 text-center pb-4">No events to display.</p>
                {% endfor %}
            </div>
        </div>
        <div class="tab-pane fade px-1" id="past-hosted-events" role="tabpanel" aria-labelledby="past-hosted-events-tab"
            tabindex="0">
            <div
                class="events row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xxl-4 g-2 mt-2 justify-content-sm-center justify-content-lg-start">
                {% for event in past_events %}
                <a href="{% url 'event_detail' event.id %}" class="event col mb-3" role="button">
                    <div class="card">
                        {% if event.image %}
                        <img src="{{ event.image }}" class="card-img-top" alt="event-image" height="160">
                        {% else %}
                        <img src="https://images.unsplash.com/photo-1442504028989-ab58b5f29a4a?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                            class="card-img-top" alt="event-image" height="160">
                        {% endif %}
                        <div class="card-body">
                            <h4 class="card-title fs-5 text-dark">
                                {{ event.title }}
                            </h4>
                            {% if not event.group %}
                            <p class="card-text text-secondary lh-sm my-3">Hosted by: {{ event.host }}</p>
                            {% else %}
                            <p class="card-text text-secondary lh-sm my-3">Hosted by: {{ event.group }}</p>
                            {% endif %}
                            <p class="card-text text-secondary fw-bold mb-2">
                                <span class="me-1 text-dark"><i class="bi bi-calendar2"></i></span>
                                <span class="ms-1">{{ event.date }} · {{ event.time }}</span>
                            </p>
                            <p class="card-text text-secondary lh-sm mt-2 mb-3">
                                <span class="me-1"><i class="bi bi-geo-alt"></i></span>
                                <span class="ms-1">{{ event.location }}</span>
                            </p>
                        </div>
                    </div>
                </a>
                {% empty %}
                <p class="text-secondary lh-sm my-3 text-center pb-4">No events to display.</p>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<!-- Edit Group Modal -->
<div class="modal fade" id="editGroupModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="editGroupModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content mx-2 px-4 py-2 border border-secondary rounded">
            <div class="modal-header">
                <h1 class="modal-title fs-3" id="editGroupModalLabel">Edit Group</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="editGroupForm" onsubmit="event.preventDefault()">
                <div class="modal-body py-3">
                    <input type="hidden" name="group_id" value="{{ group.id }}" id="groupId">
                    <div class="mb-3">
                        <label for="groupName" class="ms-1 form-label">Group Name <span
                                class="text-danger fs-6 mb-2">*</span></label>
                        <input type="text" class="form-control me-4" id="groupName" name="name"
                            placeholder="Enter your group name" required maxlength="200" value="{{ group.name }}">
                    </div>
                    <div class="mb-3">
                        <label for="groupDescription" class="ms-1 form-label">Description</label>
                        <textarea class="form-control me-4" id="groupDescription" name="description" rows="3"
                            placeholder="Describe your group">{{ group.description }}</textarea>
                    </div>
                    <div class="mb-3">
                        <label for="privacySetting" class="ms-1 form-label hoverable">Privacy Setting</label>
                        <select class="form-select me-4" id="privacySetting" name="privacy_setting"
                            aria-label="Select group privacy" required value="{{ group.privacy_setting }}">
                            {% if group.privacy_setting == 'public' %}
                            <option value="public" selected>Public</option>
                            <option value="private">Private</option>
                            {% else %}
                            <option value="public">Public</option>
                            <option value="private" selected>Private</option>
                            {% endif %}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="groupImage" class="ms-1 form-label">Image URL (Optional)</label>
                        <input type="url" class="form-control me-4" id="groupImage" name="image_url"
                            value="{{ group.image_url }}">
                    </div>
                    <div class="d-flex justify-content-end mt-4">
                        <button type="button" class="btn btn-lg btn-outline-warning text-dark px-4 me-2"
                            data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-lg btn-warning px-4" onclick="editGroup()">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Invite Member Modal -->
<div class="modal fade" id="inviteMemberModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="inviteMemberModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content mx-2 px-4 py-2 border border-secondary rounded">
            <div class="modal-header">
                <h1 class="modal-title fs-3" id="inviteMemberModalLabel">Add Members</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body mb-3">
                <form class="form-group">
                    <label for="username fw-bold fw-5">Username</label>
                    <p id="selected-users-list" class="mt-2 w-100 d-flex flex-wrap"></p>
                    <input type="text" class="form-control typeahead" id="username" placeholder="Type username"
                        autocomplete="off">
                    <ul id="username-suggestions" class="dropdown-menu px-4" role="button" tabindex="1"></ul>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-warning text-dark" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-warning" id="add-member-btn">Add Members</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}