{% extends "events/layout.html" %}

{% block body %}
<div class="container mx-auto pt-5">
    <div class="hero px-5 pt-5 mb-3 text-center">
        <h1 class="display-4 fw-bold text-body-emphasis mx-3">Connect. Share. Flourish.</h1>

        <div class="col-lg-9 mx-auto mt-3">
            <p class="lead mb-4">Find your tribe, explore your passions, and create unforgettable memories. Flourish is
                your gateway to a vibrant community of event enthusiasts, ready to connect, share, and flourish
                together.</p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
                <button type="button" class="btn btn-warning btn-lg px-4 me-sm-3">Discover Events Now</button>
                <button type="button" class="btn btn-outline-warning text-dark btn-lg px-4">Host your Event</button>
            </div>
        </div>

        <div class="container p-5">
            <img src="https://plus.unsplash.com/premium_photo-1661440137084-cd48887ce831?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                class="border rounded-3 shadow-lg mb-4 w-25 mx-3" alt="Community Event" loading="lazy">
            <img src="https://plus.unsplash.com/premium_photo-1683122417918-ccb571444104?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                class="border rounded-3 shadow-lg mb-4 w-25 mx-3" alt="Community Event" loading="lazy">
            <img src="https://plus.unsplash.com/premium_photo-1706061121393-ca0a11ff4885?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                class="border rounded-3 shadow-lg mb-4 w-25 mx-3" alt="Community Event" loading="lazy">
        </div>
    </div>
</div>

<div class="container p-3 mb-5">
    <div class="row mb-0">
        <span class="display-6 fw-bold text-start w-75">Featured Events</span>
        {% if events %}
        <span class="w-25 text-end h5 text-decoration-none mt-3 side-text" role="button">
            <a href="{% url 'all_events' %}" class="ms-auto side-text" role="button">See all events</a>
        </span>
        {% endif %}
    </div>
    <div class="events row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xxl-4 g-2 mt-2 justify-content-sm-center">
        {% for event in events %}
        <a href="{% url 'event_detail' event.id %}" class="event col mb-3" role="button">
            <div class="card">
                <img src="{{ event.image }}" class="card-img-top" alt="event-image" height="160">
                <div class="card-body">
                    <h4 class="card-title fs-5 text-dark">
                        {{ event.title }}
                    </h4>
                    <p class="card-text text-secondary lh-sm my-3">Hosted by: {{ event.host_id }}</p>
                    <p class="card-text text-secondary fw-bold mb-2">
                        <span class="me-1 text-dark"><i class="bi bi-calendar2"></i></span>
                        <span class="ms-1">{{ event.date }} · {{ event.time }}</span>
                    </p>
                    <p class="card-text text-secondary lh-sm mt-2 mb-3">
                        <span class="me-1"><i class="bi bi-geo-alt"></i></span>
                        <span class="ms-1">{{ event.location }}</span>
                    </p>
                </div>
            </div>
        </a>
        {% empty %}
        <p class="text-secondary lh-sm my-3 text-center">No events to display.</p>
        {% endfor %}
    </div>
</div>

<div class="container my-5">
    <div class="row mb-0">
        <span class="display-6 fw-bold text-start w-75">Explore top categories</span>
    </div>
    <div class="categories row d-flex justify-content-sm-center mt-2">
        <span class="category col-sm-6 col-md-4 col-lg-3 col-xl-2 btn btn-outline-light text-dark px-4 py-5 mt-3">
            <span class="d-block mb-2">
                {% load static %}
                <img src="{% static 'events/images/mountain.png' %}" alt="" width="48">
            </span>
            <span class="d-block fw-bold">Travel and Outdoor</span>
        </span>
        <span class="category col-sm-6 col-md-4 col-lg-3 col-xl-2 btn btn-outline-light text-dark px-4 py-5 mt-3">
            <span class="d-block mb-2">
                {% load static %}
                <img src="{% static 'events/images/groups.png' %}" alt="" width="48">
            </span>
            <span class="d-block fw-bold">Social Activities</span>
        </span>
        <span class="category col-sm-6 col-md-4 col-lg-3 col-xl-2 btn btn-outline-light text-dark px-4 py-5 mt-3">
            <span class="d-block mb-2">
                {% load static %}
                <img src="{% static 'events/images/origami.png' %}" alt="" width="48">
            </span>
            <span class="d-block fw-bold">Hobbies and Passions</span>
        </span>
        <span class="category col-sm-6 col-md-4 col-lg-3 col-xl-2 btn btn-outline-light text-dark px-4 py-5 mt-3">
            <span class="d-block mb-2">
                {% load static %}
                <img src="{% static 'events/images/running.png' %}" alt="" width="48">
            </span>
            <span class="d-block fw-bold">Sports and Fitness</span>
        </span>
        <span class="category col-sm-6 col-md-4 col-lg-3 col-xl-2 btn btn-outline-light text-dark px-4 py-5 mt-3">
            <span class="d-block mb-2">
                {% load static %}
                <img src="{% static 'events/images/virtual-reality.png' %}" alt="" width="48">
            </span>
            <span class="d-block fw-bold">Technology</span>
        </span>
        <span class="category col-sm-6 col-md-4 col-lg-3 col-xl-2 btn btn-outline-light text-dark px-4 py-5 mt-3">
            <span class="d-block mb-2">
                {% load static %}
                <img src="{% static 'events/images/joystick.png' %}" alt="" width="40">
            </span>
            <span class="d-block fw-bold">Games</span>
        </span>
    </div>
</div>

<div class="container my-5">
    <div class="row mb-0">
        <span class="display-6 fw-bold text-start w-75">How Flourish works</span>
    </div>
    <div class="row d-flex justify-content-sm-center mt-2">
        <span class="col-md-6 p-3 how-to-item">
            <div class="d-flex m-2 btn  btn btn-outline-light px-3 py-5 text-start text-dark">
                <span class="ms-2 me-4">
                    {% load static %}
                    <img src="{% static 'events/images/search.png' %}" alt="" width="40">
                </span>
                <span class="d-flex flex-column">
                    <div class="fs-4 fw-bold">Discover events and groups</div>
                    <span class="text-secondary d-block w-75">See who's hosting local events for all the things you love, attend and make new friends</span>
                </span>
            </div>
        </span>
        <span class="col-md-6 p-3 how-to-item">
            <div class="d-flex m-2 btn  btn btn-outline-light px-3 py-5 text-start text-dark">
                <span class="ms-2 me-4">
                    {% load static %}
                    <img src="{% static 'events/images/plus.png' %}" alt="" width="40">
                </span>
                <span class="d-flex flex-column">
                    <div class="fs-4 fw-bold">Host your events</div>
                    <span class="text-secondary d-block w-75">Create and host your own events, and connect with people over shared interests</span>
                </span>
            </div>
        </span>
    </div>
</div>
{% endblock %}