{% extends "events/layout.html" %}

{% block body %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-lg-8 mx-auto text-center">
      <h1>{{ profile_user.first_name}} {{ profile_user.last_name }}</h1>
      <p class="mt-1 pt-1 fs-5">@<a href="{% url 'profile' user.username %}" class="text-muted">{{ profile_user.username }}</a></p>
      {% if request.user == profile_user %}
      <p class="text-center">
        <a href="{% url 'dashboard' %}" class="btn btn-warning my-3 me-2">
            <!-- <span class="ms-auto"><i class="bi bi-arrow-right-square-fill"></i></span> -->
            <span class="ms-1">Go to Dashboard</span>
        </a>
        <button class="btn btn-outline-warning text-dark my-3 ms-2" data-bs-toggle="modal"
            data-bs-target="#editProfileModal">
            <span class="ms-auto"><i class="bi bi-pencil"></i></span>
            <span class="ms-1">Edit Profile</span>
        </button>
      </p>
      {% endif %}
      <hr>
      <p class="social text-secondary text-center fs-5 mb-4 mt-1">
        {% if profile.instagram_url %}
        <span class="instagram mx-3"><i class="bi bi-instagram" onclick="openInNewTab(event)" data-url="{{ profile.instagram_url }}"></i></span>
        {% endif %}
        {% if profile.facebook_url %}
        <span class="facebook mx-3"><i class="bi bi-facebook" onclick="openInNewTab(event)" data-url="{{ profile.facebook_url }}"></i></span>
        {% endif %}
        {% if profile.twitter_url %}
        <span class="twitter mx-3"><i class="bi bi-twitter-x" onclick="openInNewTab(event)" data-url="{{ profile.twitter_url }}"></i></span>
        {% endif %}
        {% if profile.linkedin_url %}
        <span class="linkedin mx-3"><i class="bi bi-linkedin" onclick="openInNewTab(event)" data-url="{{ profile.linkedin_url }}"></i></span>
        {% endif %}
      </p>
      {% if profile.bio %}
      <div class="card text-start p-3 my-4">
        <div class="card-title text-dark ms-2 fs-5">Bio</div>
        <div class="card-body text-muted p-2">{{ profile.bio }}</div>
      </div>
      {% endif %}
      <div class="card text-start p-3 mb-4">
        <div class="card-title text-dark ms-2 fs-5">Personal Details</div>
        <div class="card-body row p-2">
          <div class="card-text col">
            <span class="text-dark">Username: </span>
            <span class="fw-bold">{{ profile_user.username }}</span>
          </div>
          <div class="card-text col">
            <span class="text-dark">Email: </span>
            <span class="fw-bold">{{ profile_user.email }}</span>
          </div>
        </div>
        <div class="card-body row p-2">
          <div class="card-text col">
            <span class="text-dark">First Name: </span>
            <span class="fw-bold">{{ profile_user.first_name }}</span>
          </div>
          <div class="card-text col">
            <span class="text-dark">Last Name: </span>
            <span class="fw-bold">{{ profile_user.last_name }}</span>
          </div>
        </div>
        <!-- <div class="card-body p-2 mt-2 mb-3">
          <button class="btn btn-outline-secondary me-auto">
          <span class="ms-auto"><i class="bi bi-pencil-square"></i></span>
          <span class="ms-1">Change Password</span>
          </button>
        </div> -->
      </div>
    </div>
  </div>

  <div class="row mt-5 mb-0 text-center">
    <span class="h2">Groups</span>
  </div>

  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xxl-4 g-2 mt-2 justify-content-sm-center mb-5">
    {% for group in groups %}
    <a href="{% url 'group_detail' group.id %}" class="event col mb-3" role="button">
      <div class="card">
        {% if group.image_url %}
        <img src="{{ group.image_url }}" class="card-img-top" alt="group-image" height="160">
        {% else %}
        <img
          src="https://images.unsplash.com/photo-1582213782179-e0d53f98f2ca?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          class="card-img-top" alt="group-image" height="160">
        {% endif %}
        <div class="card-body">
          <h4 class="card-title fs-5 text-dark">
            {{ group.name }}
          </h4>
          <p class="card-text text-secondary lh-sm my-3">Owner: {{ group.owner }}</p>
          <p class="card-text text-secondary fw-bold mb-2">
            <span class="me-1 text-dark"><i class="bi bi-people-fill"></i></span>
            <span class="ms-1">{{ group.members.all|length }} Members</span>
          </p>
          <p class="card-text text-secondary lh-sm mt-2 mb-3 text-truncate" title="{{ group.description }}">
            {{ group.description }}
          </p>
        </div>
      </div>
    </a>
    {% empty %}
    <p class="text-secondary lh-sm my-3 text-center">No groups to display.</p>
    {% endfor %}
  </div>
</div>

<!-- Edit Profile Modal -->
<div class="modal fade" id="editProfileModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="editProfileModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content mx-2 px-4 py-2 border border-secondary rounded">
      <div class="modal-header">
        <h1 class="modal-title fs-3" id="editProfileModalLabel">Edit Profile</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form id="editProfileForm" onsubmit="event.preventDefault()">
        <div class="modal-body py-3">
          <div class="mb-3">
            <label for="editUsername" class="ms-1 form-label">Username <span class="text-danger fs-6 mb-2">*</span></label>
            <input autofocus id="editUsername" class="form-control me-4" type="text" name="username"
              placeholder="Username" autocomplete="off" value="{{ profile_user.username }}" disabled>
          </div>
          <div class="mb-3">
            <label for="editEmail" class="ms-1 form-label">Email Address <span class="text-danger fs-6 mb-2">*</span></label>
            <input autofocus id="editEmail" class="form-control me-4" type="email" name="email"
              placeholder="Email Address" autocomplete="off" value="{{ profile_user.email }}" disabled>
          </div>
          <div class="row mb-3">
            <div class="col">
              <label for="editFirstName" class="ms-1 form-label">First Name <span class="text-danger fs-6 mb-2">*</span></label>
              <input autofocus id="editFirstName" class="form-control me-4" type="text" name="first_name"
                placeholder="First Name" autocomplete="off" value="{{ profile_user.first_name }}" required>
            </div>
            <div class="col">
              <label for="editLastName" class="ms-1 form-label">Last Name <span class="text-danger fs-6 mb-2">*</span></label>
              <input autofocus id="editLastName" class="form-control me-4" type="text" name="last_name"
                placeholder="Last Name" autocomplete="off" value="{{ profile_user.last_name }}" required>
            </div>
          </div>
          <div class="mb-3">
            <label for="editBio" class="ms-1 form-label">Bio</label>
            <textarea id="editBio" class="form-control me-4" type="text" name="bio" rows="5"
              placeholder="Enter your bio (optional)">{{ profile.bio }}</textarea>
          </div>
          <div class="mb-3">
            <label for="editInstagramUrl" class="ms-1 form-label">Instagram URL</label>
            <input id="editInstagramUrl" class="form-control me-4" type="url" name="instagram_url"
              placeholder="Enter Instagram URL (optional)" value="{{ profile.instagram_url }}">
          </div>
          <div class="mb-3">
            <label for="editFacebookUrl" class="ms-1 form-label">Facebook URL</label>
            <input id="editFacebookUrl" class="form-control me-4" type="url" name="facebook_url"
              placeholder="Enter Facebook URL (optional)" value="{{ profile.facebook_url }}">
          </div>
          <div class="mb-3">
            <label for="editTwitterUrl" class="ms-1 form-label">Twitter URL</label>
            <input id="editTwitterUrl" class="form-control me-4" type="url" name="twitter_url"
              placeholder="Enter Twitter URL (optional)" value="{{ profile.twitter_url }}">
          </div>
          <div class="mb-3">
            <label for="editLinkedinUrl" class="ms-1 form-label">LinkedIn URL</label>
            <input id="editLinkedinUrl" class="form-control me-4" type="url" name="linkedin_url"
              placeholder="Enter LinkedIn URL (optional)" value="{{ profile.linkedin_url }}">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-lg btn-outline-warning text-dark px-4" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-lg btn-warning px-4" onclick="editProfile()">Save Changes</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}