main {
  min-height: 85vh;
}

a {
  text-decoration: none;
}

.event:hover {
  transform: scale(1.025);
}

.side-text {
  color: #8000d0;
}

.side-text:hover {
  color: #a020f0;
}

.category:hover {
  background-color: #eff;
  transform: scale(1.05);
}

.how-to-item:hover {
  transform: scale(1.01);
}

.hoverable:hover {
  transform: scale(1.025);
  background-color: #ffc10720;
}

.social > *:hover {
  cursor: pointer;
  font-size: 1.275rem;
}

.social > .instagram:hover {
  color: #c32aa3;
}

.social > .facebook:hover {
  color: #1877f2;
}

.social > .twitter:hover {
  color: #000000;
}

.social > .linkedin:hover {
  color: #0a66c2;
}

#username-suggestions > li:hover {
  font-weight: bold;
  margin-top: 0;
}

#selected-users-list > .selected-user {
  font-size: 0.95rem;
}

#selected-users-list > .selected-user:hover {
  font-weight: bold;
  cursor: pointer;
}

#hostIndividual:hover, 
#hostGroup:hover,
.form-check {
  cursor: pointer;
}

.pagination > li > a
{
    background-color: white;
    color: #445;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: #228;
    background-color: #eee;
    border-color: #ddd;
}

.pagination > .active > a
{
    color: white;
    background-color: #FFC107 !Important;
    border: solid 1px #FFC107 !Important;
}

.pagination > .active > a:hover
{
    background-color: #FFC107 !Important;
    border: solid 1px #FFC107;
    color: #112;
}

#categoryFilterContainer {
  display: none;
}

.modal {
  overflow-y: auto;
}